We have 2 datasets so we need to build two different linear regression model. 
- The first dataset is: "reg1(1).txt" and we will call it DATASET-1.
- The second dataset is: "regm.txt" and we will cal it DATASET-2.

#DATASET-1 and MODEL-1

Model-1 is the linear regression model that I will train on dataset-1.

Load Dataset-1 and name its columns:

In [32]:
import pandas as pd

colnames_1=['feature_1','target']
dataset1 = pd.read_csv('/content/reg1(1).txt', names=colnames_1, header=None, sep=' ')

See the dataset1:

In [33]:
dataset1.head(3)

   feature_1    target
0   5.032510  7.269838
1   6.225591  9.166293
2   3.100526  2.818125

See the shape:

In [34]:
dataset1.shape

(50, 2)

Let's define X (feature vectors) and y (target vector)

In [35]:
#X will be our training and validation set
X = dataset1.drop(['target'], axis=1)

#y will be the corresponding class labels
y = dataset1['target']

X.head(3)

   feature_1
0   5.032510
1   6.225591
2   3.100526

In [36]:
y.head(3)

0    7.269838
1    9.166293
2    2.818125
Name: target, dtype: float64

We will make 10 experiments to observe the Linear Regression model performance. In each experiment we split the data as validation and train with 30% - 70% portions, respectively. While splitting we shuffle the dataset each time. Also, the "random_state" parameter is set to 31 to have eliminate randomness in each run.

After, we define a Linear Regression model. Then we fit the model with training data and do the prediction on validation data.

At the end we measure the model performance. Accuracy (e.g. classification accuracy) is a measure for classification, not regression so we can't calculate accuracy for a regression model. For regression, we will use three metrics on both train and validaton datasets and calculate train and test error:

1. Mean Absolute Error (mae)
2. Mean Squared Error (mse)
3. Root Mean Squared Error (rmse)

(Instead of using sklearn Cross-validation module, I wrote the cross-validation code in a for-loop with # of iterations is 10.)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np
from sklearn.model_selection import train_test_split



for i in range(1,11):
  #Train-val split
  X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=31)
  
  #Our linear regression model
  regressor = LinearRegression()

  #Fit and predict
  r= regressor.fit(X_train, y_train)
  y_pred = regressor.predict(X_val)
  y_pred_train = regressor.predict(X_train)

  #Print the errors:
  print("Experiment -",i)
  print('VAL mae:', metrics.mean_absolute_error(y_val, y_pred))
  print('TRAIN mae:', metrics.mean_absolute_error(y_train, y_pred_train))
  print( "Train > Val" if metrics.mean_absolute_error(y_train, y_pred_train)>metrics.mean_absolute_error(y_val, y_pred) 
        else  "Val > Train")
  print()
  print('VAL mse:', metrics.mean_squared_error(y_val, y_pred))
  print('TRAIN mse:', metrics.mean_squared_error(y_train, y_pred_train))
  print( "Train > Val" if metrics.mean_squared_error(y_train, y_pred_train) > metrics.mean_squared_error(y_val, y_pred)
        else "Val > Train")
  print()
  print('VAL rmse:', np.sqrt(metrics.mean_squared_error(y_val, y_pred)))
  print('TRAIN rmse:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))
  print( "Train > Val" if np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)) > np.sqrt(metrics.mean_squared_error(y_val, y_pred))
        else "Val > Train")
  print()
  print("----------------------------------------------------------------")

Experiment - 1
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 2
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 3
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 4
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 5
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 6
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 7
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 8
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 9
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------
Experiment - 10
VAL mae: 0.22974860580885056
TRAIN mae: 0.278372157425181
Train > Val

VAL mse: 0.08248840426288316
TRAIN mse: 0.10480816194865955
Train > Val

VAL rmse: 0.28720794603019456
TRAIN rmse: 0.32374088705114085
Train > Val

----------------------------------------------------------------

###Which error is better and why?

In Dataset-1 for all of the error types, the training error is greater than validation error. This can be explained as the linear regression model is unable to learn from dataset. There can be two reasons:
1. The training set had many 'hard' cases to learn.
2. The validation set had mostly 'easy' cases to predict.

#DATASET-2 and MODEL-2

In [38]:
colnames_2=['feature_1','feature_2','feature_3','feature_4','feature_5','feature_6','feature_7','target'] 

dataset2 = pd.read_csv('/content/regm.txt', names=colnames_2, header=None, sep=' ')

In [39]:
dataset2.head(3)

   feature_1  feature_2  feature_3  ...  feature_6  feature_7    target
0  -2.137868   3.103367   4.942555  ...          4          1 -28.83734
1  -1.061400   2.082663   3.661630  ...          3          0 -21.76970
2   3.642472   4.547617   3.042806  ...          3          1 -13.56946

[3 rows x 8 columns]

In [40]:
#X will be our training and validation set
X_2 = dataset2.drop(['target'], axis=1)

#y will be the corresponding class labels
y_2 = dataset2['target']

X_2.head(3)

   feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7
0  -2.137868   3.103367   4.942555   0.004179  -0.892159          4          1
1  -1.061400   2.082663   3.661630   0.094331  -3.012215          3          0
2   3.642472   4.547617   3.042806   0.157940  -0.975084          3          1

In [41]:
#For loop for dataset2

for i in range(1,11):
  #Train-val split
  X_train, X_val, y_train, y_val = train_test_split(X_2, y_2, test_size=0.30, shuffle=True, random_state=31)
  
  #Our linear regression model
  regressor = LinearRegression()

  #Fit and predict
  r= regressor.fit(X_train, y_train)
  y_pred = regressor.predict(X_val)
  y_pred_train = regressor.predict(X_train)

  #Print the errors:
  print("Experiment -",i)
  print('VAL mae:', metrics.mean_absolute_error(y_val, y_pred))
  print('TRAIN mae:', metrics.mean_absolute_error(y_train, y_pred_train))
  print( "Train > Val" if metrics.mean_absolute_error(y_train, y_pred_train)>metrics.mean_absolute_error(y_val, y_pred) 
        else  "Val > Train")
  print()
  print('VAL mse:', metrics.mean_squared_error(y_val, y_pred))
  print('TRAIN mse:', metrics.mean_squared_error(y_train, y_pred_train))
  print( "Train > Val" if metrics.mean_squared_error(y_train, y_pred_train) > metrics.mean_squared_error(y_val, y_pred)
        else "Val > Train")
  print()
  print('VAL rmse:', np.sqrt(metrics.mean_squared_error(y_val, y_pred)))
  print('TRAIN rmse:', np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))
  print( "Train > Val" if np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)) > np.sqrt(metrics.mean_squared_error(y_val, y_pred))
        else "Val > Train")
  print()
  print("----------------------------------------------------------------")

Experiment - 1
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 2
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 3
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 4
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 5
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 6
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 7
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 8
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 9
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------
Experiment - 10
VAL mae: 0.35296735620665043
TRAIN mae: 0.38272902437538264
Train > Val

VAL mse: 0.20880350013105928
TRAIN mse: 0.2313439838457863
Train > Val

VAL rmse: 0.4569502162501505
TRAIN rmse: 0.48098231136475933
Train > Val

----------------------------------------------------------------

Again, all of the training error is greater than validation error.

###Which error is better and why?

In Dataset-2 for all of the error types, the training error is greater than validation error. This can be explained as the linear regression model is unable to learn from dataset. The reason for that could be same with Dataset-1:
1. The training set had many 'hard' cases to learn.
2. The validation set had mostly 'easy' cases to predict.